.topheader{

}

.topnav{
    display: flex;
    justify-content: space-between;
}

/*  logo  */

.logo{
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}

.logo img {
    border-radius: 100%;
}

/*  menu navegador */

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 0 15px;
}

.menu a{
    color: rgb(250, 128, 185);
    font-size: 22px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
}

.open_menu {
    display: none;
}

/*  menu  dispositivos moviles o tablets  */

@media (max-width: 950px) {

    .menu {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: var( --menu_mobile_background_color);
        height: 100%;
        overflow-y: auto;

        opacity: 0;
    }

    .menu li {
        padding: 0;
    }

    .menu a{
        color: var(--text_color_inverse);
        line-height: 60px;
    }

    .menu_burguer {
        width: 55px;
        height: 100px;
        cursor: pointer;
    }

    .open_menu {
        display: inline-flex;
        border: none;
        background: none;
    }

}
